{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <div>
      <p class="text-secondary">Bio: {{ user.profile.bio }}</p>
      <p class="text-secondary">Interest: {{ user.profile.interest }}</p>
      <a href="{% url 'user-posts' user.username %}" class="btn btn-primary">Posts</a>
    </div>
</div>
<a href="{% url 'profile-update' %}" class="btn btn-primary">Update Profile</a>
{%endblock content %}
