{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<h1>Register</h1>
<form action="" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Register</button>
    </div>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        Already have an account? <a class="ml-2" href="#">Sign In</a>
    </small>
</div>
{%endblock content %}
