{% extends "blog/base.html" %}
{% block content %}
<div>
    <h1 class="mb-3"> {{ view.kwargs.username }}'s Blog Posts ({{ page_obj.paginator.count }})</h1>
    {% for post in blogpost_list %}
        <article class="media content-section">
            <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" alt="Profile pic">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile' %}">Author: {{ post.author }}</a>
                <small class="text-muted">Posted on {{ post.created_at}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h2>
            <h5><a class="article-title" href="{% url 'category-detail' category.slug">Category: {{ post.category }}</a></h5>
            <p class="article-content">{{ post.post|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </article>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">Page {{ num }} of {{ page_obj.paginator.num_pages }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4"href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
        <br>
        
    </span>
</div>
{%endblock %}
